* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #8367e7;
  cursor: pointer;
  transition: border-color 0.25s;
}

.app {
  width: 100vw;
  height: 100vh;
}

.page {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.page::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.page::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.half-width {
  width: 50%;
}

.half-height {
  height: 50%;
}

.rounded {
  border-radius: 5px;
}

.bold {
  font-weight: bold;
}

.extra-bold {
  font-weight: 900;
}

.wrap {
  flex-wrap: wrap;
}

.grow {
  flex-grow: 1;
}

.fixed {
  position: fixed;
}

.clickable {
  cursor: pointer;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.primary-bg {
  background-color: #8367e7;
}

.secondary-bg {
  background-color: #a797ed;
}

.white-bg {
  background-color: #f8f5fa;
}

.primary-text {
  color: #8367e7;
}

.secondary-text {
  color: #a797ed;
}

.white-text {
  color: #f8f5fa;
}

.grey-bg {
  background-color: #e6e6e6;
}

.grey-text {
  color: #aeaeae;
}

.divider {
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
}
