.chats-section {
  height: 100%;
  width: 30%;
  /* max-width: 300px; */
  border-right: 1px solid #f0f0f0;
}

.chats-header {
  gap: 10px;
  padding: 10px;
}

.chats-header > div {
  padding: 0 10px;
  gap: 10px;
}

.chats-header > div > input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
  transition: 0.3s;
}

.chats-header > div > input:active {
  outline: none;
}

.chats-header > div > input:focus {
  outline: none;
  border: 1px solid #8367e7;
  transition: 0.3s;
}

.chats-header > div > button {
  border-radius: 50%;
  background-color: #8367e7;
  color: white;
  width: 40px;
  height: 40px;
}

.chat-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}

.chat-list::-webkit-scrollbar {
  width: 5px;
}

.chat-list::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 10px;
}

.chat-box {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f0f0f0;
}

.chat-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  gap: 10px;
  align-items: center;
}

.chat-profile-picture {
  width: 50px;
  height: 50px;
  background-color: #f0f0f0;
  border-radius: 50%;
}

.chat-box-info {
  justify-content: space-around;
}

.chat-box-info > p.grey-text {
  color: #a0a0a0;
  font-size: 12px;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  padding: 10px;
}

.messages::-webkit-scrollbar {
  width: 5px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 10px;
}

.message {
  padding: 8px;
  /* width: min-content; */
  max-width: 60%;
  border-radius: 20px;
  align-items: flex-end;
  margin-bottom: 3px;
}

.message-time {
  margin: 0 5px;
  font-size: 8px;
  align-self: flex-end;
}

.message-content {
  font-size: 14px;
}

.message-input {
  padding: 10px;
  gap: 10px;
  border-top: 1px solid #f0f0f0;
}

.message-input > input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
  transition: 0.3s;
}

.message-input > input:active {
  outline: none;
}

.message-input > input:focus {
  outline: none;
  border: 1px solid #8367e7;
  transition: 0.3s;
}

.sender {
  align-self: flex-end;
  border-bottom-right-radius: 5px;
}

.reciever {
  align-self: flex-start;
  border-bottom-left-radius: 5px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  z-index: 100;
}

.popup-content {
  padding: 20px;
  width: 50%;
  margin-top: 10%;
}

.popup > div > input {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #878787;
  border-radius: 20px;
  transition: 0.3s;
}

.popup > div > input:active {
  outline: none;
}

.popup > div > input:focus {
  outline: none;
  border: 1px solid #8367e7;
  transition: 0.3s;
}

.popup-users {
  border: 1px solid #878787;
  max-height: 200px;
  overflow-y: scroll;
  gap: 5px;
  min-height: 100px;
  padding: 5px 0;
}

.popup-users::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

.popup-users::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-bottom: 10px;
}

.loading > div {
  height: 100px;
}
